


<%- include("navbar") %>


<!-- Main Content -->
<div class="content">
  <h3 class="mb-4">Dashboard</h3>
  <div class="row g-4">
    <div class="col-md-3">
      <div class="card card-box border-primary">
        <div class="card-body">
          <h6>Total inquiry</h6>
          <h3>   <%= totalUsers %>  </h3>
        </div>
      </div>
    </div>
  </div>
</div>



<%- include("footer") %>