
<%- include('navbar.ejs') %>

<style>
.about-header {
  background-image: url("https://www.thisiscolossal.com/wp-content/uploads/2023/05/temple-of-books-6.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
}

.about-header .overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.about-header h1 {
  font-size: 48px;
  font-weight: bold;
}

.about-header p {
  font-size: 18px;
}
.img-box{
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  height: 200px;
}

.img-box img{
  width: 100%;
  transition: 0.6s ease;
}

.img-box:hover img{
  transform: scale(1.1);
  filter: brightness(70%);
}

.img-box:hover .overlay{
  opacity: 1;
}

</style>

<section class="about-header">
  <div class="overlay">
    <h1>Gallery</h1>
    <p>Discover our story and love for books</p>
  </div>
</section>




<div class="container">
  <div class="row">
    <h2 class="m-5">Images</h2>

<div class="col-md-4 p-3">
<div class="img-box">
  <img src="https://www.amnesty.org.uk/files/styles/poster/s3/2020-12/justice.png?VersionId=XhUntTPJlZ22ElYalEr6dcwG5Z5cxSMJ&itok=0OE1lxMP" alt="" class="h-100">
  <div class="overlay">
    <h4>MP Electronics Shop</h4>
    <p>Best Quality</p>
  </div>
</div>
</div>



<div class="col-md-4 p-3">
<div class="img-box">
  <img src="https://prd-static-1.sf-cdn.com/resources/images/store/2015/global/640x400/Books/xbooks-640x400-20250314.jpg.pagespeed.ic.iev4HU-3At.webp" alt="" class="h-100">
  <div class="overlay">
    <h4>MP Electronics Shop</h4>
    <p>Best Quality</p>
  </div>
</div>
</div>
<div class="col-md-4 p-3">
<div class="img-box">
  <img src="https://images.unsplash.com/photo-1661827291034-a7afb7dd1601?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFueSUyMGJvb2tzfGVufDB8fDB8fHww" alt="" class="h-100">
  <div class="overlay">
    <h4>MP Electronics Shop</h4>
    <p>Best Quality</p>
  </div>
</div>
</div>
<div class="col-md-4 p-3">
<div class="img-box">
  <img src="https://images.unsplash.com/photo-1661827291034-a7afb7dd1601?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFueSUyMGJvb2tzfGVufDB8fDB8fHww" alt="" class="h-100">
  <div class="overlay">
    <h4>MP Electronics Shop</h4>
    <p>Best Quality</p>
  </div>
</div>
</div>
<div class="col-md-4 p-3">
<div class="img-box">
  <img src="https://marvel-b1-cdn.bc0a.com/f00000000290162/images.ctfassets.net/2htm8llflwdx/6A2X8CFRQZch09jQwlDCrU/228a1c32b3bc48d27c53dd13333b6069/Shorelight_Best_English_Books.jpg?fit=thumb" alt="" class="h-100">
  <div class="overlay">
    <h4>MP Electronics Shop</h4>
    <p>Best Quality</p>
  </div>
</div>
</div>
<div class="col-md-4 p-3">
<div class="img-box">
  <img src="https://c8.alamy.com/comp/S13KFH/lots-of-books-in-a-second-hand-bookshop-S13KFH.jpg" alt="" class="h-100">
  <div class="overlay">
    <h4>MP Electronics Shop</h4>
    <p>Best Quality</p>
  </div>
</div>
</div>
<div class="col-md-4 p-3">
<div class="img-box">
  <img src="https://www.amnesty.org.uk/files/styles/poster/s3/2020-12/justice.png?VersionId=XhUntTPJlZ22ElYalEr6dcwG5Z5cxSMJ&itok=0OE1lxMP" alt="" class="h-100">
  <div class="overlay">
    <h4>MP Electronics Shop</h4>
    <p>Best Quality</p>
  </div>
</div>
</div>
<div class="col-md-4 p-3">
<div class="img-box">
  <img src="https://t4.ftcdn.net/jpg/02/91/58/75/360_F_291587512_NIGrGn9JWP3PomhK790hVGRZ0SD6gpft.jpg" alt="" class="h-100">
  <div class="overlay">
    <h4>MP Electronics Shop</h4>
    <p>Best Quality</p>
  </div>
</div>
</div>
<div class="col-md-4 p-3">
<div class="img-box">
  <img src="https://images.unsplash.com/photo-1661827291034-a7afb7dd1601?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFueSUyMGJvb2tzfGVufDB8fDB8fHww" alt="" class="h-100">
  <div class="overlay">
    <h4>MP Electronics Shop</h4>
    <p>Best Quality</p>
  </div>
</div>
</div>

</div>
</div>

<%- include('footer') %>