<%- include("../admin/navbar")  %>
<div class="content">
  <div class="col-md-4">
    <div class="card shadow">
      
     <div class="card-body">
        <h5 class="card-title text-center">slider</h5>
      
        <a href="/admin/home/add_slider" class="btn btn-primary">add slider</a>
        <a href="#" class="btn btn-warning">views slider</a>
      </div>

    </div>
  </div>
</div>


<%- include("../admin/footer") %>